In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data_mgr.csv', low_memory = False)

In [3]:
list(df.columns)

['LoanSequenceNumber',
 'CreditScore',
 'FirstPaymentDate',
 'FirstTimeHomebuyerFlag',
 'MaturityDate',
 'MSA',
 'MI',
 'NumberUnits',
 'OccupancyStatus',
 'OriginalCLTV',
 'OriginalDTI',
 'OriginalUPB',
 'OriginalLTV',
 'OriginalInterestRate',
 'Channel',
 'PPMFlag',
 'AmortizationType',
 'PropertyState',
 'PropertyType',
 'PostalCode',
 'LoanPurpose',
 'OriginalLoanTerm',
 'NumberBorrowers',
 'SellerName',
 'ServicerName',
 'SuperConformingFlag',
 'PreHARPLoanSequenceNumber',
 'ProgramIndicator',
 'HARPIndicator',
 'PropertyValuationMethod',
 'InterestOnlyIndicator',
 'Year',
 'MaxDefault',
 'DefaultInd']

Deleting unnecessary columns which will not be used (highly correlated with others ect)

In [4]:
df.drop(columns=['Channel','FirstPaymentDate', 'MSA','PPMFlag', 'SellerName', 'ServicerName',  'SuperConformingFlag',
                'PreHARPLoanSequenceNumber', 'ProgramIndicator', 'HARPIndicator', 'PropertyValuationMethod', 'OriginalCLTV' ], inplace=True)

In [5]:
df['MaturityDate'] = [x for x in (df['MaturityDate'].apply(lambda x: str(x)[0:4]))]
df['MaturityDate'] = df['MaturityDate'].astype(int)

In [6]:
df['Default'] = np.where(df['DefaultInd'] == 0, 1, 0)

In [7]:
df.loc[(df['Default'] == 1)]

,LoanSequenceNumber,CreditScore,FirstTimeHomebuyerFlag,MaturityDate,MI,NumberUnits,OccupancyStatus,OriginalDTI,OriginalUPB,OriginalLTV,...,PropertyType,PostalCode,LoanPurpose,OriginalLoanTerm,NumberBorrowers,InterestOnlyIndicator,Year,MaxDefault,DefaultInd,Default
159,F22Q10007696,768,Y,2052,0,1,P,49,412000,80,...,PU,33100,P,360,2,N,2022,5.0,0,1
1780,F22Q10082555,743,Y,2052,30,1,P,38,337000,95,...,SF,30000,P,360,2,N,2022,3.0,0,1
2229,F22Q10104574,711,N,2042,0,1,P,41,189000,76,...,PU,77000,N,240,2,N,2022,3.0,0,1
2794,F22Q10132114,806,N,2037,0,1,P,28,300000,31,...,SF,95600,C,180,1,N,2022,3.0,0,1
3538,F22Q10166392,683,N,2052,25,1,P,32,219000,95,...,CO,21100,P,360,1,N,2022,5.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1024846,F12Q40588736,771,N,2043,0,1,P,30,232000,70,...,SF,91700,C,360,2,N,2012,4.0,0,1
1024849,F12Q40588888,720,N,2043,0,1,P,40,215000,80,...,PU,19300,N,360,2,N,2012,4.0,0,1
1024853,F12Q40589119,769,N,2042,0,1,S,30,56000,80,...,SF,33900,P,360,2,N,2012,3.0,0,1
1024866,F12Q40589685,779,N,2042,0,1,P,27,272000,80,...,SF,1500,P,360,2,N,2012,3.0,0,1
1024941,F12Q40593161,788,N,2027,0,1,P,39,220000,58,...,SF,90600,P,180,2,N,2012,13.0,0,1

In [8]:
df.dropna(subset=['MaxDefault'], inplace=True)

In [9]:
df.drop(columns=['MaxDefault'], inplace=True)

In [10]:
df['OriginalLoanTerm'].loc[(df['OriginalLoanTerm'] == '.')] = 0
df['OriginalLoanTerm'] = df['OriginalLoanTerm'].astype(str).astype(int)

C:\Users\ksiej\AppData\Local\Temp\ipykernel_628\2031045430.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['OriginalLoanTerm'].loc[(df['OriginalLoanTerm'] == '.')] = 0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1024973 entries, 0 to 1024999
Data columns (total 22 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   LoanSequenceNumber      1024973 non-null  object
 1   CreditScore             1024973 non-null  int64
 2   FirstTimeHomebuyerFlag  1024973 non-null  object
 3   MaturityDate            1024973 non-null  int32
 4   MI                      1024973 non-null  int64
 5   NumberUnits             1024973 non-null  int64
 6   OccupancyStatus         1024973 non-null  object
 7   OriginalDTI             1024973 non-null  int64
 8   OriginalUPB             1024973 non-null  int64
 9   OriginalLTV             1024973 non-null  int64
 10  OriginalInterestRate    1024973 non-null  float64
 11  AmortizationType        1024973 non-null  object
 12  PropertyState           1024973 non-null  object
 13  PropertyType            1024973 non-null  object
 14  PostalCode              1024973 non-null  int64
 15  LoanPurpose             1024973 non-null  object
 16  OriginalLoanTerm        1024973 non-null  int32
 17  NumberBorrowers         1024973 non-null  int64
 18  InterestOnlyIndicator   1024973 non-null  object
 19  Year                    1024973 non-null  int64
 20  DefaultInd              1024973 non-null  int64
 21  Default                 1024973 non-null  int32
dtypes: float64(1), int32(3), int64(10), object(8)
memory usage: 168.1+ MB

Deleting columns InterestOnlyIndicator and AmortizationType as they have the same value for all the records

In [12]:
df.drop(columns=['InterestOnlyIndicator','AmortizationType'], inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1024973 entries, 0 to 1024999
Data columns (total 20 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   LoanSequenceNumber      1024973 non-null  object
 1   CreditScore             1024973 non-null  int64
 2   FirstTimeHomebuyerFlag  1024973 non-null  object
 3   MaturityDate            1024973 non-null  int32
 4   MI                      1024973 non-null  int64
 5   NumberUnits             1024973 non-null  int64
 6   OccupancyStatus         1024973 non-null  object
 7   OriginalDTI             1024973 non-null  int64
 8   OriginalUPB             1024973 non-null  int64
 9   OriginalLTV             1024973 non-null  int64
 10  OriginalInterestRate    1024973 non-null  float64
 11  PropertyState           1024973 non-null  object
 12  PropertyType            1024973 non-null  object
 13  PostalCode              1024973 non-null  int64
 14  LoanPurpose             1024973 non-null  object
 15  OriginalLoanTerm        1024973 non-null  int32
 16  NumberBorrowers         1024973 non-null  int64
 17  Year                    1024973 non-null  int64
 18  DefaultInd              1024973 non-null  int64
 19  Default                 1024973 non-null  int32
dtypes: float64(1), int32(3), int64(10), object(6)
memory usage: 152.5+ MB

Deleting DefaultInd as there is variable Defaut which represents the same

In [15]:
df.drop(columns=['DefaultInd'], inplace=True)

In [ ]:
df.drop(columns=['OriginalUPB', 'MI'], inplace=True)

In [16]:
df.to_csv('data_mgr_cleaned.csv', index=False)